body, main{
	display: flex;
}

body{
	flex-direction: column;
}

main{
	flex-direction: row;
	flex: auto;
	border: 10px, solid, black;
}

article{
	flex: 2;
	overflow-y: auto;
}
aside{
	flex: 1;
	overflow-y: auto;
}

td, tr{
	padding: 10px;
	align: center;
}

table{
	margin: 10px;
	padding: 5px;
}
